* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; background-color: #ffffff; }

#map {
    height: 650px;
    width: 100%;
}

#sidenav {
    height: 100%;
    width: 300px;;
    position: fixed;
    padding-left: 20px;
}

#info {
  height: 25vh;
  border-bottom: 1px solid black;
}

#geocoder {
    margin-left: 525px;
    text-indent: 40px;
    display: inline-block;
}

#line {
    position: absolute;
    height: 90px;
    width: 1px;
    margin-left: 845px;
    margin-top: -95px;
}

#query-input {
    margin-left: 500px;
    width: 20%;
    display: inline-block;
}

#submit-query-button {
    position: absolute;
    margin-left: 875px;
    margin-top: -75px;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder ul {
    box-shadow: none !important;
    text-indent: 40px;
}

#add-to-itinerary {
    display: none;
}

.modal1 {
    text-align: center;
}


/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 105%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 70%;
}

#itinerary-display {
    padding-left: 10px;
}

#doneModalContent {
    height: 25%;
}

#submit-itinerary {
    margin-left: 190px;
}

#confirmationModalContent {
    height: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

label {
    display: inline-block;
    text-align: right;
    width: 20%;
}
